.How-works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background-color: white;
}

.How-works-content{
    margin: 60px 0;
    width: 800px;

}

.How-works-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.How-works-image > img {
    width: 220px;
}
.How-works-svg{
    display: flex;
    justify-content: center;
}


.How-works-text > ol{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.How-works-text > ol > li{
    max-width: 200px;
}
.How-works-text > ol > p{
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}