.Navbar {
  width: 80vw;
  max-width: 1000px;
  height: 12vh;
  max-height: 90px;
  flex-shrink: 0;
  margin: 15px auto;
  padding: 0px 40px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 99;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  }

  .Notification{
    width: 10px;
    height: 10px;
    left: 20px;
  }

  .Logo{
    color: #F35151;
    font-family: Ammanda;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -.4rem;
  }

  .Middle-Nav > ul, .Right-Nav > ul{
      display: flex;
      align-items: center;
      justify-content: center;
  }
    
  .Middle-Nav > ul > li > i, .Right-Nav > ul > li > i{
    margin: 0px 10px;
  }

  .search{
      display: none;
      position: absolute;
      width: 250px;
      top: 55px;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .search.active{
    display: flex !important;
  }

.search > input:focus {
  outline: none;
}

.search > input::placeholder {
  font-weight: lighter;
}