.Chef-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    padding: 10px 0;
}
.Chef-section > h3{
    font-family: Montserrat;
    font-size: 4.2rem;
    position: absolute;
    top: 38px;
    z-index: 1;
    font-style: normal;
    padding: 0;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 2.2rem;
}

.Chef-content{
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-top: 100px;
    width: 800px;
}
.Chef-text{
    max-width: 350px;
}
.image-bg-red{
    position: relative;
    width: 380px;
    height: 120px;
    border-radius: 1rem;
}

.image-bg-red > img{
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
}